body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%; /* Adjust as needed */
}

.mortgager {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 96%; /* Adjust as needed */
}

#dynamic-elements {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.input-group {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input {
    margin-left: 5px;
}

button {
    margin-top: 10px;
}

#result {
    min-height: 400px; /* Adjust the height based on your needs */
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.even-row {
    background-color: #f9f9f9; /* Even row color */
}

.odd-row {
    background-color: #ffffff; /* Odd row color */
}

#textAValue, #textBValue, #textCValue {
    margin-left: 5px;
}
